<h1>Login</h1>

<div>
    <form action="/api/sessions/login" method="post">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <a href="/api/sessions/github">Sing up with GitHub</a>
</div>